.po-lista-de-vendas2{

    width: 1029px;
    height: 533px;

}

.info-vendas-registro2{

    gap: 10px;

}

.grafico-box2{

    margin-left: 10px;

}

.titulo-da-lista2{

    justify-content: normal;

}