/* style_produtos.css */
.icones-superior {
    justify-content: right;
    display: flex;
    margin-top: 30px;
    padding-right: 40px;
    gap: 20px;
}

.section-categorias {
    height: 100%;
    width: 100%;
}

.icon-superior {
    height: 28px;
    width: 28px;
}

.h1-categoria {
    margin-left: 87px;
    border-left: 8px solid #45734B;
    padding-left: 10px;
    margin-top: 40px;
    font-size: 40px;
}

.area-botoes-input {
    margin-top: 30px;
    margin-left: 85px;
    display: flex;
    gap: 30px;
    flex-direction: row;
    align-items: center;
}

.btn-link {
    color: #00000080;
    border: 1px solid #E7E6E6;
    background-color: #F6F6F6;
    width: 200px;
    padding: 13px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-tudo {
    background-color: #45734B;
    color: white;
    cursor: auto;
}

.input-pesquisa {
    width: 60%;
    height: 42px;
    padding-left: 10px;
    border: 1px solid #E7E6E6;
    border-radius: 10px;
    background-image: url(img/icone-pesquisa.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 22px 22px;
}

.input-pesquisa::placeholder {
    padding-left: 10px;
}

.input-pesquisa:focus {
    padding-left: 10px;
}

.card-produto {
    height: 270px;
    width: 180px;
    background-color: #F6F6F6;
    border-radius: 10px;
    gap: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E7E6E6;
    box-shadow: 0.8px 0.8px 8px 1px #00000040;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: none;
}
.card-servico {
    height: 270px;
    width: 180px;
    background-color: #F6F6F6;
    border-radius: 10px;
    gap: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E7E6E6;
    box-shadow: 0.8px 0.8px 8px 1px #00000040;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: none;
}

.area-produtos {
    width: 80%;
    gap: 40px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: -25px;
}

.section-produtos {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: -60px;
    margin-left: -80px;
}

.info-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: gray;
}

.nome-produto {
    margin-top: -55px;
    font-weight: 550px;
}

.nome-produto2 {
    margin-top: -5px;
    font-weight: 550px;
}

.ver-mais-btn {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 15px;
    border-radius: 10px;
    background-color: #a3d2a8;
    padding: 4px 9px;
}

.card-produto:hover {
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 0.2px 0.2px 11px 1px #00000040;
}

.card-servico:hover {
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 0.2px 0.2px 11px 1px #00000040;
}

.produto{
    margin-top: -45px;
    height: 150px;
    font-size: 100px;
    color: gray;
}