<?php

include "../../INCLUDE/Menu_adm.php";
include "../btn/barra-pesquisa.php";
include "../btn/btn-notificaçao.php";

?>

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../../PUBLIC/css/clientes-info.css">
</head>
<body>
    <div class="er-box">
        <a href="#"><img class="er_seta"  src="../../PUBLIC/img/Frame (3).svg" alt=""></a>

        <div class="er-box-img"> <img class="er_img" src="../../PUBLIC/img/user.svg" alt=""></div>
        
        <p></p>
    </div>
</body>
</html>