body {
    background-color: antiquewhite;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ls_pesquisa {
    width: 100%;
    max-width: 704px;
    padding: 0 20px;
}

.ls_pesquisa-barra {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    background: #fff;
    position: relative;
}

.ls_pesquisa-barra input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 1rem;
}

.ls_pesquisa-barra img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    flex-shrink: 0;
}