.jp_header-icons {
    background-color: #222;
    border-radius: 50px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 60px;
}
  
  .jp_notification-icon,
  .jp_user-icon {
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .jp_notification-icon:hover,
  .jp_user-icon:hover {
    transform: scale(1.1);
  }
  
  .jp_user-icon {
    background-color: #444;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }