body{
    box-sizing: border-box;
    background-color: rgb(68, 71, 75);
    font-family: "Poppins", serif;
    font-style: normal;
}

.ls_busca-para-remover-vendedor{
    display: flex;
    background-color: #FFFFFF;
    width: 559px;
    height: 332px;
    padding: 10px;
    flex-direction: column;
    gap: 70px;
    border-radius: 3%;
    
}

.ls_busca-para-remover-vendedor h1{
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.7);
    font-size: x-large;
    margin-left:60px;
    font-weight: 400;
}

.ls_busca-para-remover-vendedor a{
    display: flex;
    justify-content: center;
    text-decoration: none;

    width: 117px;
    margin-left: 40%;
    
}

.ls_obrigatorio-remover-vendedor{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 28%;
}

.ls_obrigatorio-remover-vendedor input{
    display: flex;
    width: 222px;
    height: 33px;
    padding-left: 20px;
    border-radius: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    
}


.ls_obrigatorio{
    display: flex;
    color: rgba(0, 0, 0, 0.5);
    font-size: small;

}

.ls_asterisco{
    display: flex;
    color:red;
    margin-left:30px;
}

.ls_btn{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(69, 115, 75, 1);
    height: 35px;
    width: 117px;
    border-radius: 0.8rem;
    border: none;
    text-decoration: none;
    font-family: "Poppins", serif;
    cursor: pointer;
}