* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
 
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    justify-content: center;
}
 
.L_container {
    width: 100%;
    max-width: 800px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
 
.L_header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 10px 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    color: azure;
    font-size: 14px;
    height: 50px;
    border-radius: 8px;
    background-color: #333;

}
 
.L_lista-clientes {
    margin-bottom: 20px;
}
 
.L_cliente-row {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    transition: background-color 0.2s;

}
 
.L_cliente-row:nth-child(even) {
    background-color: #f8f8f8;
}
 
.L_cliente-row:hover {
    background-color: #f0f0f0;
}
 
.L_user-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
 
.L_user-icon img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
 
.L_cliente-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.L_nome {
    font-size: 14px;
    color: #333;
}
 
.L_data {
    color: #666;
    font-size: 14px;
    width: 120px;

}

.L_header-edit{

    padding: 0 40px 10px 15px;
    display: flex;
    justify-content: space-between;


}

.L_info-icon {
    width: 24px;
    height: 24px;
    margin-left: 15px;
    cursor: pointer;
    background: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.L_info-icon span {
    font-family: serif;
    font-style: italic;
    font-size: 14px;
    color: #666;

}
 
.L_info-icon:hover {
    background: #e0e0e0;
}
 
.L_paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
 
.L_paginacao a, .L_paginacao .L_ellipsis {
    text-decoration: none;
    color: #666;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.2s;
}
 
.L_paginacao a:hover,
.L_paginacao a.active {
    background-color: #f0f0f0;
}
 
.L_paginacao .prev,
.L_paginacao .next {
    font-weight: bold;
}
 
.L_paginacao .prev {
    margin-right: 5px;
}
 
.L_paginacao .next {
    margin-left: 5px;
}
 
.L_paginacao .L_ellipsis {
    cursor: default;
}