@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: Poppins;
    padding: 0;
    margin: 0;
}

.ym_pop-up{
    display: flex;
    height: 45vh;
    flex-direction: column;
}

.ym_superior-pop-up{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ym_pop-up-select{
    color: #000000B2;
    width: 100%;
    text-align: center;
    padding: 1%;
    text-decoration: none;
}

.ym_form-pop-up{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
}

.ym_area-input{
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.ym_input-aviso-obrigatorio{
    display: none;
    font-size: 12px;
    color: red;
}

.ym_pop-up-input{
    padding: 2px;
    border-radius: 7px;
    border: 2px solid #E7E6E6;
    height: 2rem;
    width: 18rem;
}

.ym_pop-up-btn-submit{
    background-color: #45734B;
    color: white;
    height: 2.3rem;
    width: 10rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.ym_area-btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px){
    .ym_pop-up{
        height: 45vh;
        max-height: 300px;
        width: 90vw;
        max-width: 450px;
    }

    .ym_pop-up-input{
        width: 14rem;
    }

}