@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.ym_area-pop-up{
    width: 40%;
    height: 35%;
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.sab_area-titulo {
    display: flex;
    width: 100%;
}

.sab_titulo{
    position: absolute;
    padding: 10px 0px 0px 25px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    font-weight: 400;
}

.ym_input-area{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.sab_form-area{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sab_form{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
}

.sab_required {
    color: #ff5252;
    font-size: 13px;
}

.sab_label-text {
    font-size: 9px;
    color: #0000007A;
}

@media (max-width: 1400px) {
    .ym_area-pop-up {
        width: 45%;
        height: 38%;
    }

    .sab_titulo {
        font-size: 1.4rem;
    }

    .ym_input-padrao{
        width: 90% !important;
    }
}

@media (max-width: 1024px) {
    .ym_area-pop-up {
        width: 55%;
        height: 40%;
    }

    .sab_titulo {
        font-size: 1.3rem;
    }

    .ym_input-padrao{
        width: 90% !important;
    }

}

@media (max-width: 768px) {
    .ym_area-pop-up {
        width: 75%;
        height: 42%;
    }

    .sab_titulo {
        font-size: 1.2rem;
    }

    .ym_input-padrao{
        width: 86% !important;
    }
}

@media (max-width: 480px) {
    .ym_area-pop-up {
        width: 90%;
        height: 45%;
    }

    .sab_titulo {
        font-size: 1rem;
    }

    .ym_input-padrao{
        width: 86% !important;
        height: 20px;
    }

    .ym_btn-padrao {
        font-size: 0.8rem;
        padding: 4px 12px;
        width: auto !important; 
        display: flex;
    }
}

