@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: Poppins;
    padding: 0;
    margin: 0;
}

.gs_pop-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gs_cadastrar-vend{
    color: #000000B2;
    font-size: 24px;
    width: 100%;
    text-align: center;
    padding: 1%;
    text-decoration: none;
}

.gs_form-pop-up{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gs_area-input{
    width: 90%;
    gap: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ym_input-padrao{
    max-width: 90%;
    margin-left: 5px;
}

.gs_input-aviso{
    font-size: 10px;
    color: #00000099;
    font-weight: 500;
}

.gs_pop-up-input{
    padding: 2px;
    border-radius: 7px;
    border: 2px solid #E7E6E6;
    height: 2rem;
    width: 50%;
}

.gs_pop-up-btn-submit{
    background-color: #45734B;
    color: white;
    height: 2.3rem;
    width: 10rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.gs_area-btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
}   

.ym_titulo-input{
    font-size: 14px;
    font-weight: 500;
}

#ym_input-senha{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 96%;
}

.ym_btn-padrao{
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 98%;
}


@media screen and (max-width: 1024px){
    
    .gs_pop-up{
        width: 85vw;
        height: auto;
        max-height: 95vh;
    }

    .gs_area-input{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .gs_pop-up-input{
        height: auto;
        width: 100%;
    }

    .gs_pop-up-input{
        max-width: 350px;
    }

}
