@import url(tabela.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{

    --color-primary-1: #FFFFFF; 
    --color-primary-2: #F0EEEE; /*COR DO FUNDO DA TELA */
    --color-primary-3: #F6F6F6; /*COR DOS OBJ DEPOIS DO FUNDO */
    --color-primary-4: #F6F6F6; /*DOCK */
    --color-primary-5: #E7E6E6; /*Stroke */
    --color-primary-6: #45734B; /* Background Buttons */
    --color-primary-7: #008F9F; /* cor hover palavras */
    --color-icones-0:  #7F7F7F; /* Cor texto */

    --color-status-1: #30AB46;
    --color-status-2: #FF0000;
    /* Usar apenas nas paginas de Relatório as cores de "status"*/

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* .btn-button-padrao{

    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-6);
    border-radius: 10px;
    height: 49px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: red;
}  */

a{
   text-decoration: none; 
}

a:hover{
    color: var(--color-primary-7);
}

body{
    background-color: var(--color-primary-2);
    
}


.sab-fundo{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
    height: 47px;

}

.sab-icones{
    display: flex;
    justify-content: end;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    height: 40px;
    margin-right: 7px;
    align-items: center;
    width: 90px;
}

/* .sab-engloba-tudo{
    width: 100%;
} */

.sab-icone, .sab-icone2{
    width: 30px;
    height: 30px;
    border-radius: 60%;
    margin-right: 13px;

}

.er_btn-notificacao{
    border-radius: 200px;
    width: 55px;
    background-color: transparent;
    border: none;
    margin-left: -10px;
    gap: 10px;
}
.er_img-notificacao1{
    
    width: 20px;
    margin-top: 5px;
}
.er_img-notificacao2{
    
    width: 30px;
    
}


/* .sab-icone2{
    background-color: #ffffff;
} */

/* .sab-icone i, .sab-icone2 i{
    color: #7F7F7F;
    padding: 26%;
    width: 150px;
    height: 50px;
    font-size: 17px;
} */

/* .sab-icone i{
    color: #ffffff;
} */

.sab-input{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 530px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#sab-site-search{
    background-color: var(--color-primary-1);
    width: 480px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    outline: none;


}
#sab-site-search::-webkit-search-cancel-button{
    position: relative;
    right: 20px;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;


}

.sab-icone-pesquisa{

    color: #7F7F7F;
    width: 20px;

}

.sab-botão{
    display: flex;
    height: 36px;
    justify-content: end;
    padding-right: 70px;
    margin-bottom: 20px;
}
.sab-botão button{
    width: 145px;
    height: 38px;
    background-color: #45734B;
    border: 0;
    border-radius: 7px;
    color: white;
    font-size: 12px;
}



table td, table th{
    border-bottom: 1px solid rgb(209, 209, 209);
    padding: 5px;
    text-align: center;
    font-weight: 500;
    color: var(--color-icones-0);
    
}

.sab_color{
    color: var(--color-icones-0);
}

.ym_tbody td.sb_td{
    color: aqua;
}

/* .ym_area-table{
    background-color: rgb(255, 255, 255);
    height: 400px;
    
} */

@media screen and
(max-width:1454px){
    .sab-botão{
        padding-right: 120px;
    }
    
}
@media screen and
(max-width:1381px){
    .sab-botão{
        padding-right: 95px;
    }
    
}
@media screen and
(max-width:1339px){
    .sab-botão{
        padding-right: 70px;
    }
    
}
@media screen and
(max-width:1281px){
    .sab-botão{
        padding-right: 30px;
    }
    
}
@media screen and
(max-width:1281px){
    .sab-botão{
        padding-right: 30px;
    }
    
}
@media screen and
(max-width:1216px){
    .sab-botão{
        padding-right: 20px;
    }
    
}
@media screen and
(max-width:1115px){
    .sab-botão{
        padding-right: 50px;
    }
    
}

@media screen and (max-width: 768px) {
    .ym_tabela {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    
    .ym_thead {
        display: none;
    }
    
    .ym_tabela tbody,
    .ym_tabela th,
    .ym_tabela td,
    .ym_tabela tr {
        display: block;
    }
    
    /* .ym_area-table{
        height: 100%;
        
    } */
    
    .ym_td{
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%;
    }
    
    .ym_tabela td:before {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
        content: attr(data-titulo);

    }
    
    .ym_tbody td.sb_td:before {
        color: var(--color-icones-0);
    }
    /* Definindo os títulos para cada célula  */
    .ym_tabela td:nth-of-type(1):before { content: "Código"; }
    .ym_tabela td:nth-of-type(2):before { content: "Porcentagem"; }
    .ym_tabela td:nth-of-type(3):before { content: "Data"; }
    .ym_tabela td:nth-of-type(4):before { content: "Estado"; }
    .ym_tabela td:nth-of-type(5):before { content: " "; }

    .ym_tbody td:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        height: 100%;
        /* padding: 12px 15px; */
        background-color: #ffffff;
        /* color: #fff; */
        content: attr(data-label);
        /* font-weight: normal; */
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: #ddd 1px solid;
    }

} 


@media screen and
(max-width:591px){
    .sab-input{
        width: 430px;
    }
    
    #sab-site-search{
        width: 380px;

    }
    .sab-botão{
        padding-right: 70px;
    }
    
    

}

@media screen and
(max-width:569px){
    .sab-input{
        width: 430px;
    }
    
    #sab-site-search{
        width: 380px;

    }
    .sab-botão{
        padding-right: 44px;
    }
    .sab-botão button{
        width: 125px;
        height: 38px;
        background-color: #45734B;
        border: 0;
        border-radius: 7px;
        color: white;
        font-size: 12px;
    }
    
    
    .ym_area-table{
        width: 98%;
        height: 100%;
        overflow: auto;
        box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    
    
}
@media screen and
(max-width:458px){
    .sab-input{
        width: 330px;
    }
    
    #sab-site-search{
        width: 280px;

    }
    .sab-botão{
        padding-right: 44px;
    }
    .sab-botão button{
        width: 125px;
        height: 38px;
        background-color: #45734B;
        border: 0;
        border-radius: 7px;
        color: white;
        font-size: 12px;
    }
    
    
    .ym_area-table{
        width: 95%;
        height: 100%;
        overflow: auto;
        box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    
    
}
@media screen and
(max-width:356px){
    .sab-input{
        width: 300px;
    }
    
    #sab-site-search{
        width: 250px;

    }
    .sab-botão{
        padding-right: 44px;
    }
    .sab-botão button{
        width: 125px;
        height: 38px;
        background-color: #45734B;
        border: 0;
        border-radius: 7px;
        color: white;
        font-size: 12px;
    }
    
    
    .ym_area-table{
        width: 95%;
        height: 100%;
        overflow: auto;
        box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    
    
}
