*{
    padding: 0;
    margin: 0;
}

.vc_sectionProdutos{
    width: 100%;
    padding-left: 20px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.vc_titulo{
    color: rgba(0, 0, 0, 0.90);
    font-size: 2rem;
    border-left: 10px solid #45734B;
    padding-left: 10px;
}

.vc_categorias{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.vc_links{
    width: 37%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.vc_linkCategoria{
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px 13px 10px 13px;
    font-weight: 600;
    width: 25%;
    color: rgb(98, 98, 98);
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
}

.vc_produtoPesquisa , .vc_produtoPesquisa-mobile{
    width: 63%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}


.vc-card-produto {
    height: 240px;
    width: 150px;
    background-color: #F6F6F6;
    border-radius: 10px;
    gap: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E7E6E6;
    box-shadow: 0.8px 0.8px 8px 1px #00000040;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    margin-top: 25px;
}
.vc-card-servico {
    height: 240px;
    width: 150px;
    background-color: #F6F6F6;
    border-radius: 10px;
    gap: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E7E6E6;
    box-shadow: 0.8px 0.8px 8px 1px #00000040;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    margin-top: -15px;
}
.vc-area-produtos {
    width: 100%;
    gap: 40px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    flex-direction: column;
}
.vc-section-produtos {
    display: flex;
    width: 300px;
    height: 565px;
    align-items: center;
    justify-content: center;
}
.vc-info-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vc-info-produto img{
    height: 100px;
}
.vc-card-produto:hover {
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 0.2px 0.2px 11px 1px #00000040;
}
.vc-card-servico:hover {
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 0.2px 0.2px 11px 1px #00000040;
}

.vc_produtoPesquisa-mobile{
    width: 90%;
    display: none;
    margin-right: 20px;
}


@media screen and (max-width: 1024px) {
    .vc_sectionProdutos{
        width: 100vw;
        gap: 40px;
        padding: 10px;
    }

    .vc_titulo{
        text-align: center;
        border: none;
        margin-right: 30px;

    }

    .vc_categorias{
        flex-direction: column;
        width: 100%;
        gap: 12px;
    }

    .vc_linkCategoria{
        width: 25%;
        margin-right: 20px;

    }

    .vc_produtoPesquisa{
        display: none;
    }

    .vc_produtoPesquisa-mobile{
        display: inline;
    }

    .vc_links{
        gap: 10px;
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .vc-card-produto {
        height: 280px;
        width: 190px;
        margin-top: 105px;
    }
    .vc-card-servico {
        height: 280px;
        width: 190px;
    }
    .vc-info-produto img {
        height: 130px;
    }
}

@media screen and (max-width: 551px) {
    .vc-card-produto {
        height: 330px;
        width: 230px;
        margin-top: 205px;
    }
    .vc-card-servico {
        height: 330px;
        width: 230px;
    }
    .vc-info-produto img {
        height: 160px;
    }
}


@media screen and (max-width: 394px) {
    .vc-card-produto {
        height: 370px;
        width: 270px;
        margin-top: 290px;
    }
    .vc-card-servico {
        height: 370px;
        width: 270px;
    }
    .vc-info-produto img {
        height: 170px;
    }
}