body {

    width: 100%;
    height: 100%;
    background-color: #F0EEEE;

}

.ls_container-contate-nos {

    margin-top: 3%;
    width: 100%;
    height: 617px;
    background-color: #45734B;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.ls_container-menu {

    width: 30%;
    height: 115%;
    background-color: #FFFFFF;
    margin-top: 130px;
    border-radius: 10px;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

}

.ls_texto-contato {
    color: var(--color-primary-1);
    display: flex;
    flex-direction: column;
}



.ls_imagens{
    display: flex;
    gap: 80px;
    flex-direction: column;
}

.ls_tell div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.ls_tell{
    display: flex;
    gap: 20px;
    flex-direction: column;
    
}
.ls_loc div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.ls_loc{
    display: flex;
    gap: 20px;
    flex-direction: column;
    
}



.ls_caixas-de-texto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ls_texto-caixa {
    margin-top: 0px;
    font-size: 30px;
}

.ls_caixa-de-texto {

    width: 100%;
    height: 12%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ls_caixa-de-descricao {

    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.ls_botao {
    width: 161px;
    height: 47px;
    background-color: #45734B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.ls_botao:hover {
    background-color: #45a049;
}

.ls_nav-link{
    color: rgba(0, 0, 0, 0.5);
}