<!DOCTYPE html><div class="jc_popup"></div>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pop-up de Senha Alterada</title>
    <link rel="stylesheet" href="../../PUBLIC/css/pop_cupom.css">
</head>
<body>
    
    <input type="checkbox" id="controlePopup" class="jc_controle-popup" checked>
    
    
    
        <div class="jc_popup-conteudo">
            <p>Cupom aplicado</p>
            <label for="controlePopup" class="jc_fechar-btn">Fechar</label>
        </div>
    </div>
</body>
</html>
