@import url(style_menu.css);

.page{
    background-color: #F0EEEE;
    display: flex;
}

.cliente{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area-table{
    width: 95%;
    height: 80%;
    overflow: auto;
    box-shadow: 3px 3px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    
}   

tr:nth-child(even) {
    background-color: #f7f7f7;
}

tbody tr:hover{
    background-color: #e2e1e1;
}

thead{
    position: sticky;
    top: 0;
    z-index: 1;
    color: white;
    background-color: #2d2d2d;
    font-weight: 550;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    word-wrap: break-word;
}

td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.363);
}

input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 3px;
}

.YM{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.YM i{
    font-size: 22px;
}

.area-table::-webkit-scrollbar{
    background-color:white;
    border-radius: 0px 20px 20px 0px;
    border-left: 2px solid rgba(255, 255, 255, 0.471);
    width: 11px;}

.area-table::-webkit-scrollbar-thumb{
    background-color: rgb(186, 186, 186);
    border-radius: 0px 20px 20px 0px;
}
