<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agro Plants NOW</title>
    <link rel="stylesheet" href="../../src/pages/global-index/index.css">
    <link rel="stylesheet" href="../../src/pages/css/style-contate-nos.css">
    <link rel="stylesheet" href="../../src/pages/menu-sup/index.css">
</head>
<body>

    <header class="menu-container-sup">
        <nav class="nav-bar-menu">
            <img class="logo" src="../../src/imagens/horizontal-logo 1.png" alt="">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="" class="nav-link">Home</a>
                </li>   
                <li class="nav-item">
                    <a href="" class="nav-link">Sobre-nós</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contate-nos</a>
                </li>
            </ul>
        </nav>
        <button class="btn-button-padrao">
            Login
        </button>
    </header>

    <section class="ls_container-contate-nos">
        <div class="ls_texto-contato">
            <div class="ls_imagens">
                <div class="ls_tell">
                    <div>
                        <img src="../imagens/Telefone.svg" alt="Telefone">
                        <p>Ligue para nós</p>
                    </div>
                    <p>+55 (67) 99999-9999</p>
                    
                </div>

                <div class="ls_tell">
                    <div>
                        <img src="../imagens/Localização.svg" alt="Ponteiro">
                        <p>Localização</p>
                    </div>
                    <p>Rua santo dos santos, 999 Campo Grande - MS</p>
                    
                </div>
            </div>
        </div>

        <div class="ls_container-menu">
            <p class="ls_texto-caixa">Contate-nos</p>
            <div class="ls_caixas-de-texto">
                <input type="text" placeholder="Nome" class="ls_caixa-de-texto">
                <input type="email" placeholder="E-mail" class="ls_caixa-de-texto">
                <textarea placeholder="Mensagem" class="ls_caixa-de-descricao"></textarea>
                <button type="button" class="ls_botao">Enviar</button>
            </div>
        </div>
    </section>

</body>
</html>