<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do Produto</title>
    <link rel="stylesheet" href="../../PUBLIC/css/sobre_prod.css">
    <link rel="stylesheet" href="../../PUBLIC/css/style_menu.css">
</head>
<body>

    <!-- Menu lateral -->
    <aside class="jp_sidebar">
        <div class="jp_logo">
            <img src="../../imagens/mobile-logo 2.svg" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><img src="https://raw.githubusercontent.com/feathericons/feather/master/icons/grid.svg" alt=""> Dashboard</li>
                <li  class="jp_active"><img src="https://raw.githubusercontent.com/feathericons/feather/master/icons/box.svg" alt=""> Catálogo</li>
                <li><img src="https://raw.githubusercontent.com/feathericons/feather/master/icons/users.svg" alt=""> Clientes</li>
                <li><img src="https://raw.githubusercontent.com/feathericons/feather/master/icons/user.svg" alt=""> Vendedores</li>
                <li><img src="https://raw.githubusercontent.com/feathericons/feather/master/icons/shopping-cart.svg" alt=""> Vendas</li>
                <li><img src="https://raw.githubusercontent.com/feathericons/feather/master/icons/file-text.svg" alt=""> Relatórios</li>
                <li><img src="https://raw.githubusercontent.com/feathericons/feather/master/icons/tag.svg" alt=""> Cupons</li>
            </ul>
        </nav>
        <div class="jp_bottom-menu">
            <ul>
                <li><img src="https://raw.githubusercontent.com/feathericons/feather/master/icons/settings.svg" alt=""> Ajustes</li>
                <li><img src="https://raw.githubusercontent.com/feathericons/feather/master/icons/log-out.svg" alt=""> Sair</li>
            </ul>
        </div>
    </aside>

    <!-- Conteúdo principal -->
    <main class="gs_content">
        <section class="gs_product-container">
            <div class="gs_product-details">
                <img src="../../PUBLIC/img/image-removebg-preview 1 (1).png" alt="Drone de Precisão" class="gs_product-image">
                <div class="gs_product-info">
                    <p class="gs_label">Nome</p>
                    <p class="gs_value">Drone de precisão</p>

                    <p class="gs_label">Categoria</p>
                    <p class="gs_value">Serviço</p>

                    <p class="gs_label">Preço</p>
                    <p class="gs_value">R$ 99,99</p>

                    <p class="gs_label">Estoque</p>
                    <p class="gs_value">50 unidades</p>

                    <p class="gs_label">Descrição</p>
                    <p class="gs_value">Um drone de alta tecnologia para os diversos trabalhos de agricultura de precisão.</p>
                </div>
            </div>

            <button class="gs_back-btn">⟲ Voltar</button>
        </section>
    </main>

</body>
</html>