@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("../menu-sup/index.css");
@import url("../menu-lat/index.css");



:root{

    --color-primary-1: #FFFFFF; 
    --color-primary-2: #F0EEEE; /*COR DO FUNDO DA TELA */
    --color-primary-3: #F6F6F6; /*COR DOS OBJ DEPOIS DO FUNDO */
    --color-primary-4: #F6F6F6; /*DOCK */
    --color-primary-5: #E7E6E6; /*Stroke */
    --color-primary-6: #45734B; /* Background Buttons */
    --color-primary-7: #008F9F; /* cor hover palavras */
    --color-primary-8: rgba(0,0,0, 0.5); /* Cor texto e icones*/

    --color-status-1: #30AB46;
    --color-status-2: #FF0000;
    /* Usar apenas nas paginas de Relatório as cores de "status"*/

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.btn-button-padrao{

    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-5);
    background-color: var(--color-primary-6);
    border-radius: 10px;
    height: 49px;
    padding: 14px 30px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 15px;
}

a{
   text-decoration: none; 
   font-size: 15px;
}

a:hover .btn-icon:hover{
    filter: brightness(0) saturate(100%) invert(29%) sepia(69%) saturate(4747%) hue-rotate(171deg) brightness(104%) contrast(101%);
}

.btn-icon{
    height: 25px;
    width: 25px;
}
